body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

nav {
    background: #2c3e50;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    color: #2c3e50;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    background: white;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 12px;
}

table th {
    background: #2c3e50;
    color: white;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #2c3e50;
    padding-top: 20px;
}

.sidebar h2{
    color: white;
    text-align: center;
}

.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.sidebar a:hover{
    background: #34495e;
}

.main{
    margin-left: 240px;
    padding: 20px;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    text-align: center;
}